In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("Salary_Data.csv")

C:\Users\mahendhar Baira\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
#checking for null values
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [4]:
#checking for no of Rows and Columns
df.shape

(30, 2)

In [5]:
#choosing X and Y variables
#y varaible is for predicting target variable
y=df["Salary"]
x=df[["YearsExperience"]]
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [6]:
#fitting the model
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

In [7]:
#model fitting
LR.fit(x,y)
#calculatin bias Bo
print("intercept value",LR.intercept_)
#calculatin coef B1
print("coefficient value",LR.coef_)

intercept value 25792.20019866871
coefficient value [9449.96232146]

In [8]:
#predicting Salary  for experience = 2years
y_pred = LR.predict(np.array([[2]]))
print("Salary for experience = 2years : ",y_pred)

Salary for experience = 2years :  [44692.12484158]

C:\Users\mahendhar Baira\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [9]:
# we have Salary of 43525 for experience = 2years in our original dataset.
#But we got 44692 as a Salary from our model
#Lets calculate the error and R2 for our model

In [10]:
#Calculation of MSE and RMSE and R2
from sklearn.metrics import mean_squared_error,r2_score

y_pred = LR.predict(x)
mse_y = mean_squared_error(y,y_pred)
rmse_y = np.sqrt(mse_y)
r2_y =r2_score(y,y_pred)
print(" MSE of Model ",mse_y.round(3))
print(" RMSE of Model ",rmse_y.round(3))
print("R2 score of our Model",r2_y.round(3))

 MSE of Model  31270951.722
 RMSE of Model  5592.044
R2 score of our Model 0.957

In [11]:
#Data partition - cross validation method
#validation set approach
#model fitting
#random state = we wre not shuffling the data
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

training_accuracy = []
test_accuracy = []
for i in range(1,101):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=i)
    LR.fit(x_train,y_train)
    y_pred_train = LR.predict(x_train)
    y_pred_test = LR.predict(x_test)
    mse_y_train = mean_squared_error(y_train,y_pred_train)
    mse_y_test = mean_squared_error(y_test,y_pred_test)
    r2_train=r2_score(y_train,y_pred_train)
    r2_test=r2_score(y_test,y_pred_test)
    training_accuracy.append(np.sqrt(mse_y_train))
    test_accuracy.append(np.sqrt(mse_y_test))
print("Cross validation - RMSE trainig score ",np.mean(training_accuracy).round(3))
print("Cross validation RMSE test score",np.mean(test_accuracy).round(3))
print("Cross validation - R2 trainig score ",np.mean(r2_train).round(3))
print("Cross validation R2 test score",np.mean(r2_test).round(3))

Cross validation - RMSE trainig score  5612.545
Cross validation RMSE test score 5678.829
Cross validation - R2 trainig score  0.947
Cross validation R2 test score 0.963

In [12]:
#------------------------------------case-2--------------------------------------------------------------
#standardization will fit the values b/w -3 to +3
from sklearn.preprocessing import StandardScaler
SS=StandardScaler()
SS_x = SS.fit_transform(x)
SS_x = pd.DataFrame(SS_x)
#giving columns names to the converted data
SS_x.columns = list(x)
SS_x.head()

   YearsExperience
0        -1.510053
1        -1.438373
2        -1.366693
3        -1.187494
4        -1.115814

In [13]:
#Data partition - cross validation method
#validation set approach
#model fitting
#random state = we wre not shuffling the data
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression
LR = LinearRegression()

training_accuracy = []
test_accuracy = []
for i in range(1,101):
    x_train,x_test,y_train,y_test = train_test_split(SS_x,y,test_size=0.25,random_state=i)
    LR.fit(x_train,y_train)
    y_pred_train = LR.predict(x_train)
    y_pred_test = LR.predict(x_test)
    mse_y_train = mean_squared_error(y_train,y_pred_train)
    mse_y_test = mean_squared_error(y_test,y_pred_test)
    r2_train=r2_score(y_train,y_pred_train)
    r2_test=r2_score(y_test,y_pred_test)
    training_accuracy.append(np.sqrt(mse_y_train))
    test_accuracy.append(np.sqrt(mse_y_test))
print("Cross validation - RMSE trainig score ",np.mean(training_accuracy).round(3))
print("Cross validation RMSE test score",np.mean(test_accuracy).round(3))
print("Cross validation - R2 trainig score ",np.mean(r2_train).round(3))
print("Cross validation R2 test score",np.mean(r2_test).round(3))

Cross validation - RMSE trainig score  5612.545
Cross validation RMSE test score 5678.829
Cross validation - R2 trainig score  0.947
Cross validation R2 test score 0.963

In [ ]:
#even though we did the logistic transformation....,
#My RMSE and R2 not changed